#job-view {
	font-size: 1.25rem;
	padding-bottom: 20px;
}

.job-view-row {
	margin: 10px 0;
}

#job-view-header {
	margin: 20px 0;
}

#job-view-header h1 {
	margin: 0;
}

#job-view-header div:last-child {
	display: flex;
	justify-content: flex-end;
}

#job-view-header div:last-child .btn {
	margin-left: 10px;
	height: 36px;
}

.pagination {
	flex-wrap: wrap;
}

.job-view-link .job-view-label,
.job-view-description .job-view-label {
  display: flex;
}

@media screen and (max-width: 995px) {
  .job-view-link .job-view-label,
  .job-view-description .job-view-label {
    display: none;
  }
}
