header .row {
	width: 100%;
}

header .navbar-nav {
	display: flex;
	align-content: center;
	justify-content: flex-end;
	height: 100%;
}

header .nav-item {
	align-self: center;
	margin: 0 10px;
}

header .nav-item a {
	color: #FFF;
}

header img {
	margin-right: 10px;
}

#nav {
	max-width: 1150px;
	width: 1150px;
	margin: 0 auto;
}

#nav .row {
	flex-direction: row;
	flex-wrap: nowrap;
}

@media screen and (max-width: 500px) {
	header .nav-item {
    align-self: center;
    margin: 0 5px;
	}
}
