header .row {
	width: 100%;
}

header .navbar-nav {
	display: flex;
	align-content: center;
	justify-content: flex-end;
	height: 100%;
}

header .nav-item {
	align-self: center;
	margin: 0 10px;
}

header .nav-item a {
	color: #FFF;
}

header img {
	margin-right: 10px;
}